.wrapper {
  width:45rem;
  margin:auto;
}

.header {
  width:100%;
  height:200px;
  display: inline-flex;
}

.terminal {
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
  position: relative;
  width: 70%;
  height:100%;
  margin:auto;
}

.top {
  background: #C6C6C6;
  height:25px;
  display: flex;
}

.monospace{
  font-family: Monaco, Consolas, 'Courier New', Courier;
  color: black;
  font-size: 15px;
  margin:0px;
  margin-left:1%;
}

#terminal-title{
  margin:auto;
  margin-left:25%;
}

.buttons {
  text-align: left;
  margin-left:7.5px;
}

.button {
  height:12px;
  width: 12px;
  border-radius: 50%;
  margin-top:auto;
  display:inline-flex;
}

.yellow {  background: 	#FCBF26; }
.red {  background: #FF5455; }
.green {  background: #16D83F; }

.terminal-content{
  overflow: hidden;
  height:80%;
  border: 1px solid #C6C6C6;
  border-top: 0;
  text-align: left;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 20rem;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 2px solid black;
    }

p{
  font-family: 'Roboto', sans-serif;
}

.me {
  font-family: 'Aleo', serif;
    margin-top: 25px;
    margin-bottom:25px;
    font-size: 21px;
    text-align: center;
}

h1{
  margin-block-start: .5em;
margin-block-end: .25em;
}

#myface {
  border-radius:50%;
  height:150px;
  width:150px;
  margin:auto;
}

.fade{
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.other{
  padding-top:20px;
  padding-bottom:20px;
  display:flex;
  width:40rem;
  margin:auto;
}

.el{
  text-align: center;
  margin:auto;
  border:2px solid black;
  font-family: 'Roboto', sans-serif;
  width:10rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}


.el:hover {
  background-color: black;
  color: white;
}

h3{
  margin-block-start: .5em;
margin-block-end: .5em;
}

#content{
  padding-top:10px;
}

.title {
  font-family: 'Aleo', serif;
  text-align:center;
  margin-bottom:30px;
}

.project-tab{
  height:12rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom:30px;
  cursor: pointer;
}

.project-malrecgraph{
    background-image:linear-gradient(to left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%), url("https://i.imgur.com/rj0DAzy.png");
}

.project-thiswebsite{
    background-image:linear-gradient(to left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%), url("https://i.imgur.com/pBnmfYb.png");
}

.tab-title{
    font-family: 'Aleo', serif;
    padding-top:15px;
    padding-left:15px;
    margin-block-end: 10px;
}

.tab-desc{
  width:20rem;
  padding-left:15px;
}

.tab-desc-noimg{
  padding-left:15px;
}

.mega-octicon{
  font-size: 48px !important;
}

.links{
  display:grid;
}

.link{
  display:flex;
  margin:auto;
  padding:5px;
  background:white;
}

.link:hover{
  filter: invert(100%);
  cursor: pointer;
}

.link-title{
    font-family: 'Aleo', serif;
    margin:auto;
    padding-right:10px;
}
